<header>
	<div class="hero">
		<section class="layout">
			<div class="branding">
				<a href="/">
					
				</a>
			</div>
		</section>
	</div>
	<div class="navigation">
		<section class="layout">
			<ul class="nav">
				<li><a href="/"><i class="icon-home"></i> Home</a></li>
			</ul>
		</section>
	</div>

</header>