<meta charset="UTF-8">
<title><%= title %></title>
<link rel='stylesheet' href='/stylesheets/style.css' />
<meta name="viewport" content="width=device-width, user-scalable-no, initial-scale=1.0, maximum-scale=1.0"></meta>
<script type="text/javascript" src="/javascripts/jquery-1.11.1.min.js"></script>
<script src='https://cdn.firebase.com/js/client/2.0.4/firebase.js'></script>